/* Color Palette

Dark green #3c8453
Sandy Beige #bcaa96
Light blue rgb(91, 209, 215) Taken from: Background Color from: https://zyro.com/ca/preview/brooke
Light grey 3d3d4d6
Off-white #f6f6f6
Other colors taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
*/


body {
	background: #f6f6f6; 
}

* { 
	font: helvetica
}

h1 { 
	color: #3c8453; font size: 20;
}
 
h3 {
	color: #222:
} 

.aboutme {
border: 1px solid black;
  background-color:#bcaa96 ;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  }
  
 /* HOME
 ----------------------------*/

.home.content-wrapper {
	background: #3d3d4d6
}



  /* Resume 
  --------------------------------*/
  
  
  
  
  
  /*Footer
  ------------------------------------*/
  footer {
	background: #222:
} 