/* Color Palette

Dark green #3c8453 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
Sandy Beige #bcaa96 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
Light blue rgb(91, 209, 215) Taken from: Background Color from: https://zyro.com/ca/preview/brooke
Light grey #3d3d4d6 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
Off-white #f6f6f6 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
DimGrey #696969 Taken from: https://www.w3schools.com/colors/colors_names.asp
DarkSlateGray #2F4F4F Taken from: https://www.w3schools.com/colors/colors_names.asp
*/

/* Nav- help taken from W3Schools in terms of styling and removing bulletpoints, all from "try me" from W33schools. Colors changed to match my color scheme above */
.navstyle {
  	margin: 20px;
  	padding: 0px;
  	overflow: hidden;
  	background-color:#bcaa96;
	font-color: #3c8453; 
	text-align: center;
}
.navliststyle {
	list-style-type: none;
}
body {
	background: #f6f6f6; 
}

* { 
	font-family: helvetica;
	font-size: 18pt;
}

h1 { 
	color: #3c8453; font-size: 22pt;
}
 
 h2 { 
	color: #2F4F4F; font-size: 20pt;
}

h3 {
	color: #696969; font-size: 18pt;
} 
h4 {
	color: #696969; font-size: 18pt;
}

/* This was an old idea that I changed */
 {
border: 1px solid black;
  background-color:#bcaa96;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  }

/* This was taken from w3schools, css margins page with some changes to match the margin I wanted and a thicker border */ 
 .content {
	border: 4px solid black;
	margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 150px;
	padding: 50px;
 } 

 /* HOME
 ----------------------------*/

.home.content-wrapper {
	background: #3d3d4d6
}

.background {
	display: inline-block;
	margin: 10px;
}

  /* Resume 
  --------------------------------*/
  
  /* Links
 ----------------------------------*/
 a { 
	color: #3c8453;
 }
  
a.external { 
	color: #696969;
 }
  
  /*Footer
  ------------------------------------*/
  footer {
	background: #222;
} 
