/* Color Palette

Dark green #006400 Taken from w3schools :https://www.w3schools.com/colors/colors_names.asp, idea from CSS essentials
Sandy Beige #bcaa96 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
Light blue rgb(91, 209, 215) Taken from: Background Color from: https://zyro.com/ca/preview/brooke
Light grey #3d3d4d6 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
Off-white #f6f6f6 Taken from CSS Essentials : https://www.linkedin.com/learning/css-essential-training
DimGrey #696969 Taken from: https://www.w3schools.com/colors/colors_names.asp
DarkSlateGray #2F4F4F Taken from: https://www.w3schools.com/colors/colors_names.asp
Black #000000 Taken from: https://www.w3schools.com/colors/colors_names.asp
The reasons I picked the colors I did, was they are very earthy tones. I wanted my website to have a theme that matched my content- envrionmental based work and research */

/* Nav- help taken from W3Schools in terms of styling and removing bulletpoints, all from "try me" from W33schools. Colors changed to match my color scheme above */
.navstyle {
  	margin: 20px;
  	padding: 0px;
  	overflow: hidden;
  	background-color:#bcaa96;
	font-color: #006400; 
	text-align: center;
}
.navliststyle {
	list-style-type: none;
}
/* I wanted my background to not be a plain white. I thought the off-white was a nice subtle touch */
body {
	background: #f6f6f6; 
}

* { 
	font-family: helvetica;
	font-size: 16pt;
	font-color: #000000;
	font-style: normal;
	font-weight: normal;
}

h1 { 
	color: #006400; font-size: 22pt;
}
 
 h2 { 
	color: #2F4F4F; font-size: 20pt;
}

h3 {
	color: #696969; font-size: 18pt;
} 
h4 {
	color: #696969; font-size: 17pt;
}

/* This is the box around my photo, to make it pop and to tie in the color schemes */
#background {
	  border: 1px solid black;
	  background-color:#bcaa96;
	  padding-top: 50px;
	  padding-right: auto;
	  padding-bottom: 50px;
	  padding-left: auto;
  }

/* This was taken from w3schools, css margins page with some changes to match the margin I wanted and a thicker border.
Border idea was taken from this example:http://www.callieschweitzer.com/ but I changed the width and thickness. */ 
 .content {
	border: 4px solid black;
	margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 150px;
	padding: 50px;
 } 

 /* I decided to have both my home and resume page be the same. Originally I thought about making them a different style, but in the end, I wanted a cohesive look */
 /* HOME
 ----------------------------*/
 /* Resume 
  --------------------------------*/
  
}

.background {
	display: inline-block;
	margin: 10px;
}

  
  /* Links
 ----------------------------------*/
 a { 
	color: #006400;
 }
  
a.external { 
	color: #696969;
 }
  
  /*Footer - decided against one so none exist
  ------------------------------------*/
 
} 
